* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
  /* He 4 colors bg, font, and one for the changes*/
--primary-colour: hsl(352, 69%, 49%);
--secondary-colour: hsl(197, 77%, 58%);
--bg-colour:hsl(0, 0%, 0%);
--font-colour: hsl(0, 0%, 100%);
}

body {
background-color: var(--bg-colour);
color: var(--font-colour);
}
/* hamburger lines */
.hamburger-label {
    display: inline-block;
    color: white;
    background: #a02620;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
}

.hidden {
    display: none;
}

.hamburger-item {
    margin-left: 20%;
}

.hamburger-item a {
    text-decoration: none;
    /* color: var(--font-color); */
    color: black;
}

/* Toggle show/hide hamburger */
aside {
    display: none;
    background: antiquewhite;
    position: absolute;
    z-index: 100;
    height: 100%;
    width: 100vw;
}

.hamburger-items {
    font-size: 3rem;
    line-height: 5rem;
    list-style-type: none;
    margin-top: 6rem;
}

/* ~ is the general sibling combinator */
nav input:checked ~ aside {
    display: block;
}





